body{
  font-family: 'Baloo Bhai', cursive;
  background-color: lavender
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.jumbotron{
  color: cornflowerblue;  
  background-color: powderblue;
  border: 20px solid cornflowerblue;
  max-height: 90vh;
}

.button {
  color: powderblue;
  background-color: cornflowerblue;
  border: none
}

#type{
  border: none;
}

.scroll{
  max-height: 50vh;
  overflow: auto;
}